<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <a th:href="@{/}">Form</a>
        <a th:href="@{/grades}">Grades</a>
    </div>
    <form method="post" th:object="${grade}" th:action="@{/submit}">
        <h1>Grade Portal</h1>
        <input type="text" placeholder="Name" th:field="*{name}"/>
        <input type="text" placeholder="Score" th:field="*{score}"/>
        <input type="text" placeholder="Subject" th:field="*{subject}"/>
        <input type="hidden" placeholder="id" th:field="*{id}" />
        <button>Submit</button>
    </form>
</body>
</html>